@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://weloveiconfonts.com/api/?family=fontawesome|typicons);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    height: 50px;
    background: #253556;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;

}

.contenedor {
    width: 98%;
    margin: auto;
}

h1 {
    float: left;
}

header .contenedor {
    display: table;
}

section {
    width: 100%;
    margin-bottom: 25px;
}

#bienvenidos {
    text-align: center;
}

footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}

.copy {
    font-size: 20px;
}

.sociales {
    width: 100%;
    text-align: center;
    font-size: 28px;
}

.sociales a {
    color: #3f3e3e;
    text-decoration: none;
}

@media (min-width:768px) { 
    #buscador{
        width: 100%;
        height: auto;
    }
    .sociales {
        width: auto;
    }
    
    footer .contenedor {
        justify-content: space-between;
    }
}


@media (min-width:1024px) {
    #buscador{
        width: 100%;
        height: auto;
    }
    .contenedor {
        width: 1000px;
    }
}


#blog h3, h4 {
    text-align: center;
}
#buscador h3{
    padding: 90px;
    text-align: center;
    color:#fff;
    font-size:30px; 
}

#blog .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#blog article {
    margin: 15px;
}

#blog img {
    width: 100%;
    max-width: 280px;
}
#banner {
    height: 20%;
    margin-top: 50px;
    position: relative;
}

#banner img {
    width: 100%;
    height: 150%;
}

#banner .contenedor {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #efefef;
}

#banner h2 {
    font-size: 28px;
}

#banner a {
    display: block;
    width: 100px;
    color: #fff;
    text-decoration: none;
    padding: 7px;
    margin-top: 10px;
    border: 3px solid #fff;
}

#banner a:hover {
    background: #253556;
    opacity: 0.5;
}
@media (min-width:280px) {
    .descripcion{
        width:auto;
    }
    #buscador{
        width: 100%;
        height: 70%;
        background-image: url(../img/home-main.jpg);
        overflow: hidden;
    }
    .info-perf img {
        width: auto;
        height: auto;
        border-radius: 50%;
        border: 7px solid #fff;
    }
    #banner h2 {
        font-size: 40px;
    }
    
    #banner a {
        margin-top: 25px;
    }
    .selecciones{
        width: auto;
        height: 80px;
        background-color: #fff;
        border-radius: 8px;
    }
}
@media (min-width:480px) {
    .descripcion{
        width:auto;
    }
    #buscador{
        width: 100%;
        height: 70%;
        background-image: url(../img/home-main.jpg);
        overflow: hidden;
    }
    .info-perf img {
        width: auto;
        height: auto;
        border-radius: 50%;
        border: 7px solid #fff;
    }
    #banner h2 {
        font-size: 40px;
    }
    
    #banner a {
        margin-top: 25px;
    }
    .selecciones{
        width: auto;
        height: 80px;
        background-color: #fff;
        border-radius: 8px;
    }
}

@media (min-width:768px) { 
    .descripcion{
        width:auto;
    }
    #buscador{
        width: 100%;
        height: auto;
    }
    .info-perf img {
        width: auto;
        height: auto;
        border-radius: 50%;
        border: 7px solid #fff;
    }
    #banner {
        height: 300px;
        overflow: hidden;
    }
    
    #banner img {
        height: auto;
        margin-top: -100px;
    }
    .selecciones{
        width: auto;
        height: 80px;
        background-color: #fff;
        border-radius: 8px;
    }
}

@media (min-width:1024px) { 
    .descripcion{
        width:auto;
    }
    #buscador{
        width: 100%;
        height: auto;
    }
    .info-perf img {
        width: auto;
        height: auto;
        border-radius: 50%;
        border: 7px solid #fff;
    }
    #banner img {
        margin-top: -200px;
    }
    .selecciones{
        width: auto;
        height: 80px;
        background-color: #fff;
        border-radius: 8px;
    }
}

#info {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#info .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-pers {
    margin: 20px;
}

.info-pers img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 7px solid #fff;
}

@media (min-width:480px) {
    .descripcion{
        width:auto;
    }
    #buscador{
        width: 100%;
        height: auto;
    }
    .info-pers {
        width: 40%;
    }
    .info-perf {
        width: 40%;
    }
    .info-perf img {
        width: auto;
        height: auto;
        border-radius: 50%;
        border: 7px solid #fff;
    }
    .selecciones{
        width: auto;
        height: 80px;
        background-color: #fff;
        border-radius: 8px;
    }
}

@media (min-width:1024px) {
    .descripcion{
        width:auto;
    }
    #buscador{
        width: 100%;
        height: auto;
    }
    .info-pers {
        width: auto;
    }
    .info-perf {
        width: 40%;
    }
    .selecciones{
        width: auto;
        height: 80px;
        background-color: #fff;
        border-radius: 8px;
    }
}
#menu-bar {
    display: none;
}

header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #253556;
    transition: all 0.5s;
    transform: translateX(-100%);
}

.menu a {
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.menu a:hover {
    background: rgba(255,255,255,0.3);
}

#menu-bar:checked ~ .menu {
    transform: translateX(0%);
}

@media (min-width:1024px) {
    #buscador{
        width: 100%;
        height: auto;
    }
    .descripcion{
        width:auto;
    }
    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }
    
    .menu a {
        border: none;
    }
    
    header label { 
        display: none;
    }}
    #buscador{
        width: 100%;
        overflow:hidden;
        background-image: url(..//img/home-main.jpg);
        background-repeat: no-repeat;
        clear:both;
    }
    #oftop{
        width: 100%;
        height: 51px;
        background-color: white;
    }
    .selecciones{
        width: 60%;
        height: 80px;
        background-color: #fff;
        margin-left: 270px;
        border-radius: 8px;
    }
    .search-sec{
        margin-top: 200px;
        padding: 1rem;
    }
    .search-slt{
        display: block;
        width: 100%;
        font-size: 0.875rem;
        line-height: 1.5;
        color: #55595c;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        height: calc(3rem + 2px) !important;
        border-radius:0;
    }
    .wrn-btn{
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        text-transform: capitalize;
        height: calc(3rem + 2px) !important;
        border-radius:0;
    }
    @media (min-width: 992px){
        .search-sec{
            position: relative;
            top: -114px;
            background: rgba(26, 70, 104, 0.51);
        }
    }
    
    @media (max-width: 992px){
        .search-sec{
            background: #1A4668;
        }
    }
    .button-login {
        background-color: #6581bd;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius:3px;
        width:250px;
        margin-top:5px;
        
      }
      .descripcion{
          width:350px;
          background-color: rgb(255, 255, 255);
          border:4px solid #dc3545;
          
          border-radius: 8px;
          margin-top: 3%;
          padding:20px;
          text-align: center;
          margin-left: auto;
          margin-right: auto;
          color:#737373;
          font-size:14px;
          font-weight: bold;
          font-family: OpenSans-regular,Arial,Helvetica,sans-serif;
       
      }
      .descripcion h1{
          font-size:20px;
          text-align: center;
          margin-left: auto;
          margin-right: auto;
      }

      .button-submit1 {
        background-color: #ff396c;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius:3px;
        width:180px;
        
      }

      #content{
        width: 50%;
        margin: 20px auto;
        border: 1px solid #cbcbcb;
    }
    form{
        width: auto;
        margin: 20px auto;
    }
    form div{
        margin-top: 5px;
    }
    #img_div{
        width: 80%;
        padding: 5px;
        margin: 15px auto;
        border: 1px solid #cbcbcb;
    }
    #img_div:after{
        content: "";
        display: block;
        clear: both;
    }
    img{
        float: left;
        margin: 5px;
        width: 300px;
        height: 140px;
    }
    .cambiar {
        background: #333;
        color: #fff;
        text-align: center;
        padding: 80px;
        height: 300px;
      }
    .cambiar input{
        border-radius:5px;
    }
      
     .contenedor1 {
        height: auto;
        float: left;
        justify-content: center;
        margin-left: 20%;
    }
     .contenedor2 {
        
        float: right;
        justify-content: center;
        height: auto;
        margin-right: 20%;
    }
    .subir{
        padding: 5px 10px;
        background: #333;
        color:#fff;
        border:0px solid #fff;
    }
     
    .subir:hover{
        color:#fff;
        background: #f7cb15;
    }
  
    .info-perf {
        margin-left:auto;
        margin-right: auto;
    }
    
    .info-perf img {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        border: 7px solid #fff;

    }
    .busqueda{
        width:30%;
        background-color: #efefef;
       
        border-radius: 8px;
        margin: 10px;
    }
    .busqueda h4{
        color:black;
    }
    .button-perf{
        margin-top:15px;
        margin-bottom:15px;
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }
    #info2 {
        background: rgb(158, 158, 122);
        color: #fff;
        text-align: center;
        padding: 20px;

    }
    
    #info2 .contenedor {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #info h1{
        color:black;
        font-size: 25px;
    }
    #info p{
        color:black;
    }
    .button-submit2 {
        background-color: #ff396c;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius:3px;
        width:180px;
        margin-right: 50px;
        
      }