@font-face {
    font-family: Gotham;
    src: url(../fonts/GothamBold.ttf) format('truetype');
}
@font-face {
    font-family: Kalam;
    src: url(../fonts/Kalam-Regular.ttf) format('truetype');
}
@font-face {
    font-family: Comfortaa;
    src: url(../fonts/Comfortaa-VariableFont_wght.ttf) format('truetype');
}
:root{
    --fuenteComfortaa:'Comfortaa';
    --fuenteNav:'Darker Grotesque', sans-serif;
    --fuenteMain:'Over the Rainbow', cursive;
    --fuenteAgbalumo:'Kalam', regular ;
    --colorAmarillo: #f8b218;
    --first-color: hsl(38, 92%, 58%);
    --first-color-light: hsl(38, 100%, 78%);
    --first-color-alt: hsl(32, 75%, 50%);
    --second-color: hsl(195, 75%, 52%);
    --dark-color: hsl(212, 40%, 12%);
    --white-color: hsl(212, 4%, 95%);
    --body-color: hsl(212, 42%, 15%);
    --container-color: hsl(212, 42%, 20%);
    --body-font: "Bai Jamjuree", sans-serif;
    --h2-font-size: 2.25rem;
    --normal-font-size: 1rem;
}

body{
    background-color: #111111;
}
.panel{
    padding: 1rem;
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    grid-template-rows: 1fr;
    background-color: #111111;
    height: 80vh;
}
.menu{
    border-right: 2px solid black;
    padding: 2rem;
}
.panel h2{
    color:var(--colorAmarillo);
    font-family: var(--fuenteMain);
    font-size: 35px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 1rem;
    font-weight: 800;
}
.panel h3{
    color:rgb(255, 255, 255);
    font-family: var(--fuenteNav);
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 800;
}
.seccionesCajas{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    grid-row-gap: 22px;
    justify-content: center;
    gap:20px;
    
}
.seccionesCajas div{
    border-radius:4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 4rem;
    background-color: #1b1b1b;
}
.productos{
  
    padding:3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius:6px;
    margin-top: 8rem;
  }

  th{
    padding: 12px;
    text-align: left;
    color:rgb(0, 0, 0);
    font-family: var(--fuenteNav);
    font-size: 20px;
  }
  
  td {
    padding: 12px;
    text-align: left;
    color:rgb(255, 255, 255);
    font-family: var(--fuenteNav);
    font-size: 20px;
    
  }

  th {
    background-color: var(--colorAmarillo);
    
  }

  tr:hover {
    background-color: #1b1b1b;
  }

  .edit-btn {
    padding: 8px 12px;
    background-color: var(--colorAmarillo);
    color: #000000;
    font-weight: 800;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 4px;
  }
  .remove-btn{
    padding: 8px 12px;
    background-color: #fa4e27;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 4px;
  }
  .add-btn{
    padding: 8px 12px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 4px;
  }
  .add-btn:hover {
    background-color: #45a049;
  }

  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .acciones{
    display: flex;
    flex-direction: row;
    gap:5px;
  }

  /* LOGIN */


  

